# calculate interest 
interest=(prt)/100

In [1]:
# defining a function
def calculate_interest(p, r, t):
    # calculate interest 
    interest=(p*r*t)/100
    print("The interest is:", interest)

In [2]:
calculate_interest(1000, 5, 2)

The interest is: 100.0

In [3]:
calculate_interest(50000, 2, 1)

The interest is: 1000.0

In [5]:
# create function fo printing table of a number
def pri_table(n):
    for i in range(1, 11):
        print(n*i)

In [8]:
pri_table(9) # paramaters

9
18
27
36
45
54
63
72
81
90

In [9]:
# args = this  will act as a tuple in function
# used for accepting multiple values in function

In [15]:
lst=[2,3,6,5,4,7,8]

In [16]:
def information(*lst):
    print(f"values:{lst}")
    print(f"type:{type(lst)}")
    for i in lst:
        print(i)

In [17]:
information(lst)

values:([2, 3, 6, 5, 4, 7, 8],)
type:<class 'tuple'>
[2, 3, 6, 5, 4, 7, 8]

In [18]:
# multiplication of a number
def multi(*lst):
    result=1
    for i in lst:
        result=result*i
    print("The multiplication is:", result)

In [20]:
multi(*lst)

The multiplication is: 40320

In [28]:
cart=[
    ('laptop', 50000,1),
    ('mobile', 20000,2),
    ('tv', 30000,3),
    ('headphones', 2000,4)
]

In [33]:
def print_info(*args):
    total_price=0
    # print infomation
    for name,price,qty in args:
        print(f'Name:{name},price:{price},qty:{qty}')
        print('------------------------------------------')
        total_price=total_price+price
    return f'total price is : {total_price}'

In [34]:
print_info(*cart)

Name:laptop,price:50000,qty:1
------------------------------------------
Name:mobile,price:20000,qty:2
------------------------------------------
Name:tv,price:30000,qty:3
------------------------------------------
Name:headphones,price:2000,qty:4
------------------------------------------

'total price is : 102000'

In [ ]:
cart=[
    ('smith',20,20000),
    ('Avdhut',99,30000),
    ('sujit',22,40000),
    ('rohan',23,50000)
]

In [39]:
def emp_info(*args):
    total_salary=0
    # print infomation of employee
    for name,age,salary in args:
        print(f'Name:{name},age:{age},salary:{salary}')
        print('__________________________________________')
        total_salary=total_salary+salary
    return f'Total salary is : {total_salary}'

In [40]:
emp_info(*cart)

Name:smith,age:20,salary:20000
__________________________________________
Name:Avdhut,age:99,salary:30000
__________________________________________
Name:sujit,age:22,salary:40000
__________________________________________
Name:rohan,age:23,salary:50000
__________________________________________

'Total salary is : 140000'

In [42]:
def display(**kwargs):
    print(f"values:{kwargs}")
    for key,value in kwargs.items():
        print(f"key={key}\nvalue={value}")

In [43]:
display(name="sujit", age=22, salary=40000)

values:{'name': 'sujit', 'age': 22, 'salary': 40000}
key=name
value=sujit
key=age
value=22
key=salary
value=40000

In [48]:
# what is lambda function ? : used to create small calculation function

In [45]:
# lambda functions
# anonymous function
add=lambda a,b:a+b
print("The addition is:", add(5,6))

The addition is: 11

In [47]:
# cal square of a number
square=lambda n:n*n 
print("The square is:", square(6))

The square is: 36