*args, **kwargs

in arguments we can pass multiple values

In [7]:
# calculate area of rectangle
def area_rectangle(l,b):
    Aor=l*b
    print(f'Area of rectangle  is {Aor}')

In [8]:
area_rectangle(5,6)

Area of rectangle  is 30

In [10]:
# argument
# sum of all values present in  a parameter

In [21]:
def cal_sum(*args):
    sum=0
    for i in args:
        sum=sum+i
    return f"Sum of all values is :{sum}"

In [22]:
cal_sum(2,3,4)

'Sum of all values is :9'

In [23]:
cal_sum(9,8,7,4,5,6,9,8,7,4,5,6,9,8,7,4,5,6,9,8,7,4,5,6,9,8,7,4,5,6,9,8,7,4,5,6,9,8,7,4,5,6)

'Sum of all values is :273'

In [24]:

lst=[8,9,6,8,7,5,9,8,]

In [25]:
# list unpacking
cal_sum(*lst)

'Sum of all values is :60'

In [26]:
# **kwargs

In [27]:
def display_data(**kwargs): #('Key':"values")
    print(f"values: {kwargs}")

In [28]:
display_data(name="Sujit",age=77,Salary=50000000000)

values: {'name': 'Sujit', 'age': 77, 'Salary': 50000000000}

In [30]:
menu={
    "pizza":250,
    "pasta":200,
    "burger":150,
    "vadapav":50
}

In [54]:
def cal_men(**kwargs):
    total_bill=0
    for Items,price in kwargs.items():
        print(f"items: {Items}, price : {price}")
        total_bill=total_bill+price
    return f"total bill is : {total_bill}"

In [55]:
cal_men(**menu)

items: pizza, price : 250
items: pasta, price : 200
items: burger, price : 150
items: vadapav, price : 50

'total bill is : 650'

In [56]:
# Another example by maam

In [64]:
def rest_billing(**kwargs):
    bill=0
    for food,qty in kwargs.items():
        amt=menu.get(food)*qty
        bill=bill+amt
        print(f"Food :{food}, Quantity : {qty}, amount : {amt}")
        print('-----------------------------------------------------')
    return f"Total bill is : {bill}"

In [65]:
rest_billing(pizza=5, pasta=3, burger=4)

Food :pizza, Quantity : 5, amount : 1250
-----------------------------------------------------
Food :pasta, Quantity : 3, amount : 600
-----------------------------------------------------
Food :burger, Quantity : 4, amount : 600
-----------------------------------------------------

'Total bill is : 2450'

In [66]:
# what is generator function : A function which contains yield keyword is called generator function.
# why generator function : to save memory
# how to call generator function :

In [67]:
# fibonacci series
# 0,1,1,2,3,5,8,13,21,34,55,89

In [68]:
# # while loop 
# 1) inilitization
# 2) condition
# 3) increment/decrement

In [71]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [72]:
# Print 1 to 10 numbers of sum

In [75]:
i=1
sum=0
while i<=5555:
    sum=sum+i
    i=i+1

In [76]:
sum

15431790

In [81]:
# Print table of any number using while loop
i=1
n=int(input("Enter any number : "))
while i<=11:
    print(n*i)
    i=i+1

5
10
15
20
25
30
35
40
45
50
55

In [ ]:
# generotor function
# types of generator function
# 1) using yield keyword
2)